.a-img__height{
    height: 4rem;
}

.nav-link{
    color: red;
    transition: all 0.7s ease;
}

.nav-link:hover{
    color: white;
}


.navbar-toggler{
    color: whitesmoke;
}
.navbar-toggler-icon{
    background: rgb(177, 6, 6);
}


.div-imgpin_height{
    height: 16.3rem;
}

.div-div_height{
    height: 2rem;
    width: 3%;
}


.altura{
    height: 16.3rem;
    width: 80%;
}

.pe{
    height: 5rem;
}

.table-caption_style{
    color: rgb(184, 57, 57);
}


.footer-basic {
    padding:40px 0;
    background-color:rgb(20, 18, 18);
    color:white;
    }

    .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    }

    .footer-basic li {
    padding:0 10px;
    }

    .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    }

    .footer-basic ul a:hover {
    opacity:1;
    }

    .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    }

    .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
    }

    .footer-basic .social > a:hover {
    opacity:0.9;
    }

    .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
    }

@media (max-width: 767px) {
    
    .div-img_height{
        height: 11rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    .tr-td_fs{
        font-size: 0.9rem;
    }
    .altura{
        height: 13.3rem;
    }
    .sm-text-fs{
        font-size: 0.8rem;
    }
    .td-img_height{
        height: 1.8rem;
    }
    .table-caption_style{
        font-size: 1rem;
    }
    .button-img_height{
        height: 1.7rem;
    }
    .p-sm_font-size{
        font-size: 0.8rem;
    }
    .p_ms{
        margin-left: 0.3rem;
    }
    .p_me{
        margin-right: 0.2rem;
    }
    .p__font-size{
        font-size: 1rem;
    }
    .ms-7{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .img__height{
        height: 14.5rem;
    }
    .img__height-{
        width: 70%;
    }
    .ms-sm-6{
        margin-left: 3.5rem;
    }
    .me-sm-6{
        margin-right: 2.5rem;
    }
    .ms-6{
        margin-left: 1rem;
    }
    .ms-sm-7{
        margin-left: 0.5rem;
    }
    .ms-sm-8{
        margin-left: 5rem;
    }
    .mb-sm-4{
        margin-bottom: 2rem;
    }
    .img-sm__height{
        height: 20rem;
    }
    .d-sm-flex{
        display: flex;
    }
    .justify-content-sm-center{
        justify-content: center;
    }
}


@media (min-width: 992px) { 
    .sm-text-fs{
        font-size: 1rem;
    }
    .td-img_height{
        height: 3rem;
    }
    .table-caption_style{
        font-size: 1.4rem;
    }
    .ms-6{
        margin-left: 23rem;
    }
    .p__font-size{
        font-size: 1rem;
    }
    .p_ms{
        margin-left: 0.5rem;
    }
    .p_me{
        margin-right: 0.5rem;
    }
    .img-lg__height{
        margin-top: 2.5rem;
        height: 34rem;
    }
    .img-lg__height-1{
        margin-top: 2.5rem;
        height: 34rem;
    }
    .ms-lg-6{
        margin-left: 8.5rem;
    }
    .me-lg-6{
        margin-right: 5rem;
    }
    .ms-7{
        margin-left: 25rem;
    }
    .div-img_height{
        height: 17.5rem;
    }
    
}

